.navigationContainer {

}

.navigationList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigationList li {
    display: inline;
    margin: 0 10px;
}

.whitebefore::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:white' /%3E%3C/svg%3E");
}

.whitebefore::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:white' /%3E%3C/svg%3E")
}

.wrapper2 {
    background-color: #65A9AA !important;
}

.wrapper2::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#65A9AA' /%3E%3C/svg%3E") !important;
}

.wrapper2::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#65A9AA' /%3E%3C/svg%3E") !important;
}

.wrapper3 {
background-color: #77BFC1 !important;


}

.wrapper3::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#77BFC1' /%3E%3C/svg%3E") !important;
}

.wrapper3::after  {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:#77BFC1' /%3E%3C/svg%3E") !important;

}

.navycolour {
    color: black;   
}

.scheduleTable {
    width: 100%;
}

tr.day  {
    font-weight: 600;
    border-bottom: 2px solid black;
}

td.place {
    font-weight: 600;
}

.centreAlign {
text-align: center !important;
}

#header.transparent {
    background-color: transparent;
}

#header.notTransparent {
    background-color: black;
}